*{
  margin:0;
  padding:0;
}

body{
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}

.container{
  text-align:center;
  flex-wrap:wrap;
  justify-content: center;
  align-content:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:40vh ;
  padding:2px;
}

.quote{
  color:white;
  padding:10px;
}

button{
  background:none;
  color:white;
  border:1px solid white;
  padding:5px;
  position:absolute;
  top:52vh;
  left:47vw;
  transition: 0.7s;
}

button:hover {
  background-color: white;
  color: black;
}